.Rproj.user
.Rhistory
.RData
*.Rproj

.DS_Store

data/*/*
!data/process/*
!data/raw/metadata/
!data/raw/Raw_hplc_files
!data/raw/scfa_plate_layouts
!README.md
data/process/orf_gene_alignment.tsv

*.fasta
kraken_db/


*head.batch
tail.batch
mothur*logfile
*temp*
*.docx
*.pbs*
*.fastq
*.sra
*.RData

code/__pycache__/

exploratory/notebook/jenior_stuff/matt_scripts/
bin/
adn/

